Builds
assetstore
tools
.vs
.suo
*.apk

backend/node_modules
Library
Logs
obj
Temp
*.TMP

*.sln
*.csproj
*.suo
*.csv#
.vsconfig
UserSettings/EditorUserSettings.asset
UserSettings/EditorUserSettings.asset
ProjectSettings/ProjectVersion.txt
UserSettings/EditorUserSettings.asset
ProjectSettings/ProjectSettings.asset
*.blob
UserSettings/Search.settings
*.dwlt

UpgradeLog.htm
tinytower_BurstDebugInformation_DoNotShip/tempburstlibs/armeabi-v7a/lib_burst_generated.txt
ProjectSettings/CommonBurstAotSettings.json
ProjectSettings/BurstAotSettings_Android.json
Docs/~$GDD.pptx
